<!-- Titre de la page -->
<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Contact</h1>
          <p class="mb-0">Nous sommes à votre disposition pour répondre à toutes vos questions et vous accompagner dans vos démarches. Que ce soit pour obtenir des informations supplémentaires, partager vos suggestions ou nous faire part de vos besoins spécifiques, notre équipe est là pour vous aider. N’hésitez pas à nous écrire, nous appeler ou nous rendre visite à notre adresse. Votre satisfaction est notre priorité, et nous nous engageons à vous répondre dans les meilleurs délais.</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- Fin du titre de la page -->

<!-- Section Contact -->
<section id="contact" class="contact section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">

      <div class="col-lg-4">
        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <h3>Adresse</h3>
            <p>A108 Rue Adam, New York, NY 535022</p>
          </div>
        </div><!-- Fin Info Adresse -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Appelez-nous</h3>
            <p>+1 5589 55488 55</p>
          </div>
        </div><!-- Fin Info Téléphone -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <h3>Envoyez-nous un email</h3>
            <p>info@example.com</p>
          </div>
        </div><!-- Fin Info Email -->

      </div>

      <div class="col-lg-8">
        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Votre Nom" required="">
            </div>

            <div class="col-md-6">
              <input type="email" class="form-control" name="email" placeholder="Votre Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Sujet" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Chargement</div>
              <div class="error-message"></div>
              <div class="sent-message">Votre message a été envoyé. Merci !</div>

              <button type="submit">Envoyer le message</button>
            </div>

          </div>
        </form>
      </div><!-- Fin du formulaire de contact -->

    </div>

  </div>

</section><!-- Fin Section Contact -->
