<!-- Page Title -->
<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Services</h1>
          <p class="mb-0">Nous offrons une gamme complète de services pour répondre à tous vos besoins en matière de voyage. Que vous recherchiez une escapade relaxante, une aventure ou un séjour professionnel, nous sommes là pour vous.</p>
        </div>
      </div>
    </div>
  </div>  
</div><!-- End Page Title -->

<!-- Services Section -->
<section id="services" class="services section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-airplane"></i>
          </div>
          <a  class="stretched-link">
            <h3>Réservation de Vols</h3>
          </a>
          <p>Nous vous aidons à trouver les meilleures offres sur les vols internationaux et domestiques, avec une assistance 24/7 pour des changements ou des besoins particuliers.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-house-door"></i>
          </div>
          <a  class="stretched-link">
            <h3>Réservation d'Hôtels</h3>
          </a>
          <p>De luxueux hôtels 5 étoiles aux charmantes auberges, nous vous assurons un hébergement adapté à votre budget et à vos préférences.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-car-front"></i>
          </div>
          <a  class="stretched-link">
            <h3>Location de Voitures</h3>
          </a>
          <p>Que vous ayez besoin d'une voiture pour explorer votre destination ou pour des déplacements professionnels, nous avons ce qu'il vous faut.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-map"></i>
          </div>
          <a  class="stretched-link">
            <h3>Organisation de Circuits</h3>
          </a>
          <p>Explorez des destinations incroyables avec nos circuits guidés ou personnalisés. Nous planifions chaque détail pour une expérience mémorable.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-calendar-event"></i>
          </div>
          <a  class="stretched-link">
            <h3>Voyages d'Affaires</h3>
          </a>
          <p>Nous nous occupons de la logistique pour vos voyages professionnels, vous permettant de vous concentrer sur votre travail.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-people"></i>
          </div>
          <a  class="stretched-link">
            <h3>Voyages de Groupe</h3>
          </a>
          <p>Planifiez des escapades avec vos amis, votre famille ou vos collègues grâce à nos offres spéciales pour les groupes.</p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section><!-- /Services Section -->
